<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="f3 lh-title light-gray b tc mb2">Get Weekly Updates</p>
			<p>Subscribe to get military news and updates in your inbox each week. Unsubscribe at any time.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Service Members</h3>
				<ul class="mb3">
					<li><a href="/air-force/" class="link">Air Force</a></li>
					<li><a href="/army/" class="link">Army</a></li>
					<li><a href="/marines/" class="link">Marines</a></li>
					<li><a href="/navy/" class="link">Navy</a></li>
					<li><a href="/veterans/" class="link">Veterans</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">About</h3>
				<ul class="mb3">
					<li><a href="/about/" class="link">About</a></li>
					<li><a href="/contact/" class="link">Contact</a></li>
					<li><a href="/privacy/" class="link">Privacy</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
		
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
