<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/militaryhacks_logo.png" alt="Military Hacks" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex grey-3">
		<li><a href="/air-force" class="pa3 no-underline db">AIR FORCE</a></li>

		<li><a href="/army" class="pa3 no-underline db">ARMY</a></li>

		<li><a href="/marines" class="pa3 no-underline db">MARINES</a></li>

		<li><a href="/navy" class="pa3 no-underline db">NAVY</a></li>
	</ul>

</nav>
